$primary-color: #371d51;
$secondary-color: #9b52e4;
$button-gradient-start: #6b20ed;
$button-gradient-end: #a840ef;
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Telex", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.hero-section {
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texto-conteudo {
  padding: 20px;
}

h1 {
  font-size: 30px; 
  color: white;
  text-shadow:
    2px 2px 0px #ff00ff,
    -2px -2px 0px #00ffff,
    3px 3px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

h1 span {
  font-size: 28px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(45deg, darken($button-gradient-start, 10%), darken($button-gradient-end, 10%));
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;

  &:hover {
    background: linear-gradient(to right, $primary-color, $secondary-color);
  }
}

.image-header {
  width: 250px; 
  height: 500px; 
  margin-top: 20px;
}

.celular {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%; 
  left: 1px;
}

.celular-carcaca {
  position: absolute; 
  top: 1; 
  left: 0;
  width: 100%; 
  height: 74%; 
  border-radius: 49px; 
  z-index: 2; 
}



/* Media Queries para Tablets e Desktops */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h1 span {
    font-size: 36px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .texto-conteudo {
    max-width: 500px;
    text-align: left;
  }

  .celular {
    position: none; 
    top: 0;
    left: 0;
    width: 225px;
    bottom: 70px;
  }

  .celular-carcaca {
    position: none;
    top: 0;
    left: 77%;
    width: 200px
  }
  
}

@media screen and (min-width: 1150px) {
  h1 {
    font-size: 54px;
  
  }

  h1 span {
    font-size: 40px;
  }

  .container {
    max-width: 1200px;
  }

  .celular {
    position: none; 
    width: 225px;
    left: 0;
  }

  .celular-carcaca {
    position: none; 
    left: 37.6%;

  }
}
